:root {
    --default-font-color: #f0f0f0;
    --default-font-family: 'SF Pro','Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
}

* {
    background-color: black;
    font-family: var(--default-font-family);
    color: var(--default-font-color);
}

.container {
    padding-top: 15%;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 800px;
}

.profile {
    display: flex;
    margin-bottom: 5%;
}

.profile img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 135%;
    margin-left: 5%;
}

.profile a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 75%;
    margin-left: 3%;
}

.navigation {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation a {
    padding: 5px 10px;
    display: inline;
}