* {
    background-color: black;
    font-family: 'SF Pro','Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
    color: white;
}

header {
    padding-top: 15%;
    display: flex;
    justify-content: center;
}

header h1 {
    display: block;
    justify-content: flex-start;
    align-items: center;
    font-weight: 400;
    font-size: 200%;
    margin-left: 20px;
    padding-bottom: 20px;
}

header p, a {
    display: flex;
    align-items: flex-end;
    margin-left: 10px;

}

header nav {
    display: flex;
    justify-content: center;

}
