/* declared variables */
:root {
    --default-font-color: #f0f0f0;
    --default-font-family: 'SF Pro','Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, sans-serif;
    --section-heading-size: 160%
}

/* applied background color, font family, and font color to entire page */
* {
    background-color: black;
    font-family: var(--default-font-family);
    color: var(--default-font-color);
}

/* container to determine the entire page boundary */
.container {
    padding-top: 10%;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-width: 800px;
}

/* styling for the header profile image and name */
.profile {
    display: flex;
    margin-bottom: 5%;
    justify-content: center;
}

.profile img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.profile h1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-size: 200%;
    font-weight: 35;
    margin-left: 5%;
}

.profile a {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 75%;
    margin-left: 3%;
}

/* navigation bar position and style */
.navigation {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.navigation li {
    display: inline;
}

.navigation a {
    padding: 5px 10px;
    display: inline;
    font-size: 85%;
}

/* content style for about, work, projects, and socials sections */
.content {
    display: block;
    margin-bottom: 5%;
}

.content h2 {
    font-size: var(--section-heading-size);
    font-weight: 25;
    margin-bottom: 2%;
}

.content p {
    text-align: justify;
}

/* content style for work section */
.content article {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 1fr 2fr;
    margin-bottom: 3%;
}

.content article h3 {
    font-weight: 15;
}

.content-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr;
    margin-bottom: 5%;
}

.content-projects h2 {
    font-size: var(--section-heading-size);
    font-weight: 25;
    margin-bottom: 2%;
}

.content-projects figure {
    display: block;
    border-style: solid;
    margin: 5%;
    text-align: center;
}